APP_ENV=development
DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/marumie

# Seed Data - Organization
SEED_ORG_NAME=team-hirano
SEED_ORG_DISPLAY_NAME=平野大輔
SEED_ORG_SLUG=team-hirano
SEED_ORG_TYPE=political_organization
SEED_ORG_DESCRIPTION=政治団体テスト
